TELEGRAM_BOT_TOKEN=your_telegram_token_here
TELEGRAM_BOT_USERNAME=your_bot_username_here
DATABASE_URL=postgresql://user:password@postgres:5432/beauty_salon
SECRET_KEY=your_secret_key_here
DIRECTUS_KEY=your_directus_key_here
DIRECTUS_SECRET=your_directus_secret_here
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=admin
WEBAPP_URL=https://tma.triniss.ru