TELEGRAM_BOT_TOKEN=8616925537:AAF6K1fgHPSyrCEKbYN_L-C3ccqhssdS_CI
DATABASE_URL=postgresql://user:password@localhost:5432/beauty_salon
SECRET_KEY=ce3d74774931f3c3531ecca2fd49d46e9c8215c3a768a7f6c3fb5ec927e6907e
TELEGRAM_BOT_USERNAME=imtorya_booking_demobot